body {
    background-color: #212529;
}
#wrapper {
    overflow-x: hidden;
    min-height: 100vh;
}
#sidebar-wrapper {
    min-height: 100vh;
    width: 250px;
    transition: margin 0.25s ease-out;
}
#wrapper.toggled #sidebar-wrapper {
    margin-left: -250px;
}
.list-group-item {
    border: none;
}
.list-group-item.active {
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -250px;
    }
}
@media (max-width: 767.98px) {
    #sidebar-wrapper {
        margin-left: -250px;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: 0;
}
